body {
    background: #EDF2F4;
    color: rgb(20, 20, 20);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
}

h1 {
    font-family: 'Caveat', cursive;
    font-weight: bolder;
    color: #D81E5B;
    font-size: 100px;
}

h2 {
    font-family: 'Caveat', cursive;
    color: #2B2D42;
    font-weight: bold;
    font-size: 60px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: rgb(10, 191, 219);
}

/*Custome Design*/

#banner {
    background-image: url("https://images.unsplash.com/photo-1500829243541-74b677fecc30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80");
    background-size: cover;
    padding: 150px 0px;
    text-align: center;
    color: white;
}

#banner h1 {
    color: white;
    font-size: 80px;
    text-shadow: 0.3px 0.3px 0.3px grey;
}

#banner p {
    font-weight: lighter;
}

.section {
    padding: 50px;
    text-align: center;
}

#footer {
    background: #484D6D;
    padding: 50px;
    color: #EDF2F4;
    text-align: center; 
}

.fab {
    font-size: 35px; 
}

.list-inline-item {
    padding: 18px;
}




